beautifulsoup4==4.5.1
chardet==2.3.0
click==6.6
datapackage==0.8.1
et-xmlfile==1.0.1
functools32==3.2.3.post2
future==0.15.2
html5lib==0.999999999
ijson==2.3
jdcal==1.2
jsonschema==2.5.1
jsontableschema==0.6.5
linear-tsv==0.99.1
lxml==3.6.4
numpy==1.11.1
openpyxl==2.3.5
pandas==0.18.1
pkg-resources==0.0.0
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.1
rfc3986==0.4.1
six==1.10.0
tabulator==0.7.2
unicodecsv==0.14.1
webencodings==0.5
xlrd==1.0.0
